<div class='container_style'>
  <%= form_with(model: coupon, local: true) do |form| %>
    <% if coupon.errors.any? %>
      <div class="">
        <ul>
          <% coupon.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='flex flex-col gap-4 w-46 items-center justify-between'>
      <div class='flex gap-2 items-center'>
        <%= form.label :percentage %>
        <%= form.number_field :percentage %>
      </div>

      <div class='flex gap-2 items-center'>
        <%= form.label 'Max uses' %>
        <%= form.number_field :max_uses %>
      </div>
      
      <%= form.submit %>
    </div>
  <% end %>

  <%= link_to 'Back', coupons_path, class: 'back_btn' %>
</div>