<div class='mx-auto p-4 w-3/5 text-center bg-purple-200 rounded-xl shadow-md flex flex-col gap-6 items-center justify-center'>
  <h1 class='text-xl font-medium text-center'>Coupons</h1>
  <%= link_to 'Create Coupon', new_coupon_path, class: 'action_btn text-center' %>

  <ul class='flex flex-col gap-4 mt-4 items-center justify-center'>
    <% @coupons.each do |coupon| %>
      <%= link_to coupon_path(coupon) do %>
        <li class = 'rounded-xl p-4 bg-purple-100 shadow-md flex gap-3 hover:shadow-lg hover:bg-purple-300 text-center'>
          <span class='font-medium'>Code: <%= coupon.code %></span>
          <span class='font-medium'>Discount: <%= coupon.percentage %>%</span>
          <span class='font-medium'>Max. Usage: <%= coupon.max_uses %></span>
          <span class='font-medium'>Used: <%= coupon.used_count %> <%= coupon.used_count > 1 ? "time" : "times" %></span>
        </li>
      <% end %> 
    <% end %> 
  </ul>
</div>
