<h1 class='text-2xl font-bold mb-3 text-center'>Coupon Details</h1>
<div class='container_style'>
  <span class='font-medium'>Code: <%= @coupon.code %></span>
  <span class='font-medium'>Discount: <%= @coupon.percentage %>%</span>
  <span class='font-medium'>Max. Usage: <%= @coupon.max_uses %></span>
  <span class='font-medium'>Used: <%= @coupon.used_count %> <%= @coupon.used_count > 1 ? "time" : "times" %></span>

  <%= link_to "Edit", edit_coupon_path(@coupon), class: 'action_btn' %>

  <%= link_to "Back", coupons_path, class: 'back_btn' %>
</div>

